<div class="row">
    <div class="col-md-3">
        <left-navigation></left-navigation>
    </div>
    <div class="col-md-9">
        <div class="text-center" ng-if="loader">
            <img src="images/loading.gif" width="250px" />
        </div>
        <div class="row well"  ng-if="!loader">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-12 borderBot">
                        Confirm Delete the Ad?
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">{{ad.title}}</div>
                    <div class="col-md-3">{{ad.date | date: 'd-MMM-yyyy'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="{{ad.imageDataUrl}}" width="200px" />
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">{{ad.text}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Category:</div>
                            <div class="col-md-8">{{ad.categoryName ? ad.categoryName : 'not set'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Town:</div>
                            <div class="col-md-8">{{ad.townName ? ad.townName : 'not set'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mrgTop">
                    <div class="col-md-12">
                        <a href="#/user/ads" class="btn btn-success">Cancel</a>
                        <a href="#" class="btn btn-danger" ng-click="deleteFn(ad.id);">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>