{{someData}}
<div class="row">
    <div class="col-md-3">
        <left-navigation></left-navigation>
    </div>
    <div class="col-md-6">
        <div class="col-centered" ng-if="loader">
            <img src="images/loading.gif" width="250px" />
        </div>
        <div class="col-centered" ng-if="noAdsFound">
            <h4 class="black-text text-center">No ads founnd.</h4>
        </div>
        <public-ads ng-if="!noAdsFound"></public-ads>
    </div>
    <div class="col-md-3">
        <categories></categories>
        <towns></towns>
    </div>
</div>