<div class="floatRight">
	<div ng-controller="Categories" class="greenBg greenBorder mrgBot3" style="width: 230px;">
		<div class="txtCenter">
			<h2>Categories</h2>
			<div class="separator"></div>
		</div>
		<ul ng-repeat="cat in categories" class="listStyle">
			<li>{{cat.name}}</li>
		</ul>
	</div>

	<div ng-controller="Towns" class="greenBg greenBorder" style="width: 230px;">
		<div class="txtCenter">
			<h2>Towns</h2>
			<div class="separator"></div>
		</div>
		<ul ng-repeat="town in towns" class="listStyle">
			<li>{{town.name}}</li>
		</ul>
	</div>
</div>