
<div class="row">
    <div class="col-md-3">
        <left-navigation></left-navigation>
    </div>
    <div class="col-md-9">
		<form name="adForm" class="form-horizontal col-md-10 well">
			<fieldset>
				<legend class="text-center">Publish New Ad</legend>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<div class="pull-right text-danger col-md-3 " ng-show="adForm.title.$error.required && adForm.title.$dirty">Required!</div>
							<label for="title" class="col-md-3 control-label">
							Title: <b class="text-danger">*</b> </label>
							<div class="col-md-9">
								<input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="adData.title" required>
							</div>
						</div>
						<div class="form-group">
							<div class="pull-right text-danger col-md-3" ng-show="adForm.text.$error.required && adForm.text.$dirty">Required!</div>
							<label for="text" class="col-md-3 control-label">
								Text: <b class="text-danger">*</b>
							</label>
							<div class="col-md-9">
								<textarea class="form-control" rows="5" id="text" name="text" ng-model="adData.text" placeholder="Ad description..." required></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-4" >
						<img src="images/no_img.png" alt="" class="ad-image img-responsive">
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label for="image" class="col-md-3 control-label">Image:</label>
							<div class="col-md-9">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn btn-primary btn-file">
											<input type="file" multiple="" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
										</span>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="selectTown" class="col-md-3 control-label">Town:</label>
							<div class="col-md-9">
								<select class="form-control" id="selectTown" ng-model="adData.townId">
									<option value="null" selected>None</option>
									<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="selectCategory" class="col-md-3 control-label">Category:</label>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<select class="form-control" id="selectCategory" ng-model="adData.categoryId">
									<option value="null" selected>None</option>
									<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="centerd-buttons">
						<a class="btn btn-default" href="#/user/ads">Cancel</a>
						<button name="login" ng-click="publishAd(adData, adForm)" type="submit" class="btn btn-primary" ng-disabled="adForm.$invalid">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>