body {min-width:1280px;}
.greenBg {
	background-color: #5cb85c;
}
.greenBorderBottom {
	border-bottom: 2px solid green;
}
.greenBorder {
	border: 2px solid green;
}
#header h3 {
    float: left;
    margin: 15px 0px;
}
#header .user-menu {
    float: right;
    margin-top: 15px;
    font-size: 16px;
}
#nonLoggedMenu {
    padding: 10px 25px;
    width: 230px;
	text-align: center;
}
#nonLoggedMenu button {
	width: 60%;
	color: white;
	background-color: #5cb85c;
	border: 2px solid green;
	background-image: none;
	outline: none;
}
#loggedMenu {
	width: 230px;
	height: 210px;
}
#adContainer { 
	width: 100%;
}
#adContainer li {
	background-color: #5cb85c;
}


.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.mrgTop {margin-top: 5px;}
.mrgTop2 {margin-top: 10px;}
.mrgTop3 {margin-top: 15px;}
.mrgTop4 {margin-top: 20px;}

.mrgBot {margin-bottom: 5px;}
.mrgBot2 {margin-bottom: 10px;}
.mrgBot3 {margin-bottom: 15px;}
.mrgBot4 {margin-bottom: 20px;}

.mrgLeft {margin-left: 5px;}
.mrgLeft2 {margin-left: 10px;}
.mrgLeft3 {margin-left: 15px;}
.mrgLeft4 {margin-left: 20px;}

.mrgRight {margin-right: 5px;}
.mrgRight2 {margin-right: 10px;}
.mrgRight3 {margin-right: 15px;}
.mrgRight4 {margin-right: 20px;}

.mrgHor {margin-bottom: 5px; margin-top: 5px;}
.mrgHor2 {margin-bottom: 10px; margin-top: 10px;}
.mrgHor3 {margin-bottom: 15px; margin-top: 15px;}
.mrgHor4 {margin-bottom: 20px; margin-top: 20px;}

.txtCenter {
	text-align: center;
}
.separator {
	border-bottom: 1px solid green;
    border-top: 1px solid green;
    display: block;
	margin: 5px auto;
    width: 70%;
}
.listStyle { 
	padding-left: 35px;
	width: 85%;
}
.listStyle li{
	list-style-type: none;
	color: black;
	padding: 3px 5px;
	font-size: 16px;
	cursor: pointer;
}
.listStyle li:hover{
	background-color: orange;
	border: 1px solid darkorange;
}
.cleanList {
	padding: 0px;
	list-style-type: none;
}

























